# Bỏ qua thư mục môi trường ảo
.venv/
venv/

# Bỏ qua các file tạm của Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bỏ qua các file tạm của IDE
.idea/
.vscode/
*.iml

# Bỏ qua các file hệ thống
.DS_Store
Thumbs.db

# Bỏ qua các file môi trường
.env

# Build and Distribution
build/
dist/
*.spec
installer_files/

# Generated outputs
evaluation_results/
report_assets/
*.png